<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.socbox.zharif.loginregisterpage" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterPG"
            android:label="@string/app_name2"
            android:parentActivityName=".LoginPage"/>
        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name"
            android:parentActivityName=".LoginPage"/>
        <activity
            android:name=".LoggedIn"
            android:label="@string/app_name3"
            android:parentActivityName=".LoginPage">
        </activity>

    </application>

</manifest>
